* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    color: #fff;
}
header {
    width: 100%;
    display: flex;
    background-color: #1E231A;
    justify-content: space-between;
    align-items: center;
}
nav {
    margin: 10px;
    display: block;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul li {
    float: left;
}
ul li a {
    text-decoration: none;
    margin-right: 10px;
    font-size: 16px;
    padding: 8px;
    display: block;
    color: #B2D732;
}
ul li a:hover {
    background-color: #66B032;
    color: #1E231A;
    border-radius: 6px 6px 6px 6px;
}
a.active {
    background-color: #66B032;
    color: #1E231A;
    border-radius: 6px 6px 6px 6px;  
}
.hamburgerMenu {
    margin: auto 0;
    display: none;
    margin-right: 8px;
    cursor: pointer;
}
.hamburgerMenu div {
    width: 35px;
    height: 5px;
    background-color: #66B032;
    margin: 6px 0;
}

@media screen and (max-width: 750px) {
    header {
        flex-wrap: wrap;
    }
    .responsive {
        position: relative;
        display: block;
    }
    header nav {
        display: none;
        width: 100%;
    }
    ul li {
        float: none;
        display: block;
        width: 100%;
    }
    ul li a {
        margin: 0;
    }
    ul li a:hover {
        background-color: #66B032;
        color: #1E231A;
        border-radius: 0;
    }
    a.active {
        border-radius: 0;
    }
    .hamburgerMenu {
        display: block;
    }
    
}
